@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Fira Sans", serif; */

*{
    margin: 0;
    padding: 0px;
}
button{
    cursor: pointer;
}

/*---------------------- Header section --------------------- */

.container{
    width: 1280px;
    margin: 0 auto;
}
#main-nav{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
nav#main-nav h2 {
    font-size: 32px;
    font-weight: bold;
    font-family: Fira sans;
    color: #0e0e0e;
}
.btn {
    width: 120px;
    padding: 15px 30px;
    background: transparent;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #006A50;
    color: #006A50;
    font-size: 18px;
    font-family: Fira sans;
    font-weight: 500;
    transition: 0.5s;
}
.btn2{
    padding: 15px 30px;
    background: #006A50;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #006A50;
    color: #ffffff;
    font-size: 18px;
    font-family: Fira sans;
    font-weight: 500;
    margin-top: 15px;
}
.bg-banner{
    background-color: #C6E4D6;
    margin-top: 25px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
}
.banner-img{
    width: 35%;
    height: 400px;
    padding: 80px 60px;
}
.banner-img img{
    width: 470px;
}
.banner-ontant {
    padding: 117px 0px 117px 060px;
    width: 45%;
}
p.banner-subtitle {
    font-size: 24px;
    color: #0e0e0e;
    font-weight: 400;
    font-family: Fira sans;
}
.banner-ontant h1 {
    font-family: Fira sans;
    font-weight: bold;
    font-size: 45px;
    padding-right: 85px;
    line-height: 65px;
}
/* ----------------Banner section end -------------------- */
/*----------------- pillar Setion stareted----------- */
#piller{
    margin-bottom: 35px;
}
.piller-title{
    margin-top: 35px;
    
}
.piller-title h2{
    margin-bottom: 30px;
    font-size: 28px;
    font-family: Fira sans;
    font-weight: bold;
    color: #0e0e0e;
}
.card-box{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.card-box .card{
    width: 300px;
    border-radius: 12px;
    stroke: #0e0e0e;
    padding: 32px;
    border: 1px solid wheat;
    
}
.card-box .card img{
    height: 64px;
    width: 64px;
    display: block;
    margin-bottom: 10px;
}
.card span{
    font-family: Fira sans;
    font-weight: bold;
    font-size: 18px;
    color: #0e0e0e;
    opacity: .8;
    margin-bottom: 10px;
    display: block;
}
.card p{
    color: #0e0e0e;
    opacity: 0.7;
    font-size: 13px;
    font-family: Fira sans;
    display: block;

}
/* ------------------- vision bd ---------------- */
#vission-bd{
    margin-bottom: 20px;
}

.vision-header h2{
    margin-bottom: 30px;
    font-size: 28px;
    font-family: Fira sans;
    font-weight: bold;
    color: #0e0e0e;
}
.vision-header p{
    font-family: Fira sans;
    font-size: 16px;
    color: #0e0e0e;
    opacity: 0.7;
    display: block;
    margin-bottom: 20px;
}
.vission-card-box{
    display: flex;
    gap: 24px;
}
.vission-card-box .card{
    padding: 32px;
    width: 410px;
    border: 1px solid white;
    border-radius: 12px;
    border: 1px solid wheat;
    transition: 0.5;
 
}
.vission-card-box .cardbg{
    background: #C6E4D6;
}
.vission-card-box .card img{
    width: 64px;
    height: 64px;
    display: block;
    margin-bottom: 15px;
}
.vission-card-box .card span{
    font-size: 20px;
    font-family: Fira sans;
    color: #0e0e0e;
    opacity: 0.8;
    font-weight: bold;
}
.vission-card-box .card p{
    font: 16px;
    font-family: fira sans;
    color: #0e0e0e;
    opacity: 0.7;
    display: block;
    margin-bottom: 15px;

}
.btn3{
    padding: 15px 30px;
    background: #5490f5;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #5490f5;
    color: #ffffff;
    font-size: 15px;
    font-family: Fira sans;
    font-weight: 400;
    position: relative;
}
.cd1{
    background: #5490f5;
    color: white;

}
cd2{
    background: #09A15C;
    color: white;
    border: #09A15C;
}
button.btn3.cd2 {
    background: #09A15C;
    border: 1px solid #09A15C;
}
.cd3{
    background: #FFC239;
    color: white;
    border: #FFC239;
}
/* ------------------quotes secion ------------- */
.quot-box {
    padding: 24px;
    border: 1px solid wheat;
    margin-bottom: 25px;
}
.quote-content{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
}
.quot-box p{
    font-size: 16px;
    font-family: firaa sans;
    color: #0e0e0e 0.8;
}
span.name-qute {
    display: block;
    font-family: fira sans;
    margin: 10px 0px 5px 0px;
    font-size: 17px;
    font-weight: 500;
    color: #0e0e0e;
    opacity: 0.8;
}
span.q-position {
    font-size: 16px;
    color: #0e0e0e;
    opacity: 0.6;
}


/* ------------------- Openion table ---------------- */
#openion-sec{
    margin-bottom: 50px;
}
.openion-table {
    padding: 24px;
    border: 1px solid wheat;
    border-radius: 12px;
}
.openion-table table {
    border: 1px solid #0e0e0e;
    border-collapse: collapse;
    width: 100%;
    font-family: fira sans;
    font-weight: 500;
    font-size: 16px;
}
.openion-table table td{
    border: 1px solid #0e0e0e;
    border-collapse: collapse;
}
.openion-table table tbody tr th {
    text-align: left;
    padding: 10px;
    background: #C6E4D6;
    color: #181818;
    font-size: 15px;
}
.openion-table table tbody tr td{
    padding: 10px;

}
.openion-title {
    margin-bottom: 28px;
}
.openion-title h2 {
    margin-bottom: 30px;
    font-size: 28px;
    font-family: Fira sans;
    font-weight: bold;
    color: #0e0e0e;

}
.openion-table table tbody tr td select {
    width: 84%;
    padding: 3px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.news-box{
    display: flex;
    padding: 48px;
    border: 1px solid wheat;
    border-radius: 12px;
    justify-content: space-between;
    margin-bottom: 20px;
}
.news-box .n-img{
    height: 300px;
    width: 400px;
}
.news-box .n-img img{
    width: 100%;
    border: 1px solid wheat;
    border-radius: 12px;
    padding: 10px;
}
.news-box .n-news{
    width: 60%;
}
.news-box .n-news h2 {
    font-family: fira sans;
    font-size: 25px;
    color: #0e0e0e;
    opacity: 0.8;
}
.logo-news {
    width: 60px;
    margin-top: -6px;
}
.logo-news img {
    width: 100%;
}
.n-time{
    display: block;
    font-family: fira sans;
    font-size: 16px;
    line-height: 20px;
    color: #0e0e0e;
    opacity: 0.7;
    margin-top: 6px;
    margin-bottom: 10px;
}
p.n-time span {
    margin-left: 10px;
}
.main-news{
    display: block;
    font-family: fira sans;
    font-size: 16px;
    line-height: 24px;
    color: #0e0e0e;
    opacity: 0.8;
}
.n-news button{
    margin-top: 20px;
}

/* --------------------donate section --------------------- */
.donate-header {
    text-align: center;
    margin-top: 10px;
}
.donate-header h2{
    margin-bottom: 30px;
    font-size: 28px;
    font-family: Fira sans;
    font-weight: bold;
    color: #0e0e0e;
}
.donate-header p{
    font-family: Fira sans;
    font-size: 16px;
    color: #0e0e0e;
    opacity: 0.7;
    display: block;
    width: 75%;
    margin: 0 auto 30px;
}
.donate-ammount{
    width: 1100px;
    margin: 0 auto;
}
.d-box{
    width: 240px;
    border-radius: 5px;
    padding: 40px;
    border: 1px solid wheat;
    text-align: center;
}
.d-box h2{
    font-family: fira sans;
    font-weight: bold;
    font-size: 30px;
    opacity: 0.8;
}
.d-taka {
    display: flex;
    gap: 20px;
}
.type-amount {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}
.type-amount button {
    margin-top: 13px;
}
.type-amount input {
    display: block;
    width: 80%;
    text-align: center;
    padding: 15px 20px;
    font-size: 20px;
    font-family: fira sans;
    opacity: 0.7;
    margin: 0 auto;
    border-radius: 12px;
    border: 1px solid wheat;
}

/*--------------------------- Scribtion section---------------------------- */
section#subscrip-sec {
    margin-top: 58px;
}
.sub-box {
    background: #C6E4D6;
    border-radius: 20px;
    padding: 50px 20px;
    text-align: center;
}
.sc-header {
    text-align: center;
    margin-top: 10px;
}
.sc-header h2{
    margin-bottom: 28px;
    font-size: 28px;
    font-family: Fira sans;
    font-weight: bold;
    color: #0e0e0e;
}
.sc-header p{
    font-family: Fira sans;
    font-size: 16px;
    color: #0e0e0e;
    opacity: 0.7;
    display: block;
    width: 40%;
    margin: 0 auto 30px;
}
.cs-eg {
    width: 40%;
    margin: 0 auto;
    display: flex;
}
.cs-eg button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 25%;
}
.cs-eg input {
    width: 70%;
    padding: 18px 18px;
    font-size: 16px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    font-family: fira sans;
}

.sub-box span{
    font-family: fira sans;
    font-size: 16px;
    color: #0e0e0e;
    opacity: 0.7;
    margin-top: 10px;
    display: block;
}
/* ------------------- footer section ------------------------- */
.footer {
    margin: 35px auto;
    width: 75%;
    text-align: center;
    margin-bottom: 25px;
}
.footer h3{
    font-family: fira sans;
    font-weight: bold;
    font-size: 20px;
    color: #0e0e0e;
    margin-bottom: 15px;
}
.footer hr{
    width: 75%;
    opacity: .8;
    margin: 0 auto;
    margin-bottom: 15px;
}
.footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footer ul li{
    width: 20px;
}
.footer ul li a{
    text-decoration: none;
}
.footer ul li a img{
    width: 100%;
}



/* -------------------- hover effect ------------------ */

.btn:hover{
    background: #C6E4D6;
    color: #ffffff;
    cursor: pointer;
    border: none;
    padding: 16px 31px;
}
.card-box .card:hover {
    background: #C6E4D6;
    border: navajowhite;
    cursor: pointer;
}
.vission-card-box .card:hover {
    background: #C6E4D6;
    cursor: pointer;
}
.vission-card-box .card button:hover{
    cursor: pointer;
}
.d-box:hover {
    background: #C6E4D6;
    color: white;
}